.main > article { min-height: 65vh; }

.admin-box ul:nth-child(2) {
    margin-top: 10px;
    overflow: hidden;
    border: solid 1px #ccc;
    background: #02a0e9;
    color: #fff;
    border-radius: 3px 3px 0 0;
}

a { color: #02a0e9; text-decoration: none; }

.admin-box button { background: #02a0e9; color: #fff; padding: 5px 10px; border-radius: 3px; border: none; cursor: pointer !important;}
.admin-box button:hover { background: #333 !important; }

.admin-box button.plus { background: #c31111; }
.admin-box button.delete-btn { background: #535353; float: right; }

.admin-box ul:nth-child(2) li , .admin-box ul:nth-child(3) li div { padding: 5px 10px; }
.admin-box ul:nth-child(2) li + li , .admin-box ul:nth-child(3) li div + div { border-left: solid 1px #ccc; }
.admin-box ul:nth-child(2) li:nth-child(1) { width: 15%; float: left; }
.admin-box ul:nth-child(2) li:nth-child(2) { width: 15%; float: left; }
.admin-box ul:nth-child(2) li:nth-child(3) { width: 20%; float: left; }
.admin-box ul:nth-child(2) li:nth-child(4) { width: 30%; float: left; }
.admin-box ul:nth-child(2) li:nth-child(5) { width: 20%; float: left; }

.admin-box ul:nth-child(3) {}
.admin-box ul:nth-child(3) li { float: left; width: 100%; border: solid 1px #ccc; margin-top: -1px; display: flex; align-items: center; }

.admin-box ul:nth-child(3) li div:nth-child(1) { width: 15%; float: left; }
.admin-box ul:nth-child(3) li div:nth-child(2) { width: 15%; float: left; }
.admin-box ul:nth-child(3) li div:nth-child(3) { width: 20%; float: left; }
.admin-box ul:nth-child(3) li div:nth-child(4) { width: 30%; float: left; }
.admin-box ul:nth-child(3) li div:nth-child(5) { width: 20%; float: left;}

.loc-list button { width: 45%; }

ul.location li.page-title { font-size: 2em; font-weight: bold; }
ul.location li { width: 100%; float: left; border-bottom: solid 1px #ccc; margin-top: 20px; padding-bottom: 20px;}
ul.location li div { float: left; }
ul.location li div:nth-child(1) { width: 30%; border-right: solid 1px #ccc; padding: 5px 0; font-weight: bold; }
ul.location li div:nth-child(2) { width: 70%; margin-left: -1px; padding-left: 20px; }
ul.location li span { display: block; width: 100%; float: left; padding-left: 32.5%; color: #e00000; font-weight: bold; display: none;}

ul.location li div:nth-child(2) input { width: 100%; border: solid 1px #ccc; border-radius: 3px; padding: 5px 10px; }
ul.location li div:nth-child(2) input.error {border: solid 1px #d81111;}
ul.location li div textarea { resize: none; width: 100%; height: 170px; border: solid 1px #ccc; border-radius: 3px; padding: 10px;}
.edit .n-location-img.error {border: solid 1px #ccc !important;}

.main .admin-box ul.change-btns { margin-top: 20px; overflow: hidden; float: left; width: 100%; background: #fff; border: none; }
.main .admin-box ul.change-btns li { width: 50%; border: none; padding: 0; }
.main .admin-box ul.change-btns li button { width: 98%; float: left; padding: 7px; }
.main .admin-box ul.change-btns li:nth-child(2) button { float: right; }
button.isDisabled {
    background-color: #bdbdbd !important;
}


.admin-box {
    position: relative;
}

.admin-box h1 {
    margin-bottom: 20px;
}

.admin-box span.th {
    font-weight: 500;
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 5px;
}

.admin-box.line {
    width: 50%;
    margin-left: 25%;
}

.admin-box.line > div {
    width: 100%;
    margin-bottom: 10px;
}

.admin-box.line > div input {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}

.admin-box.line > div button {
    min-width: 100px;
    margin-top: 10px;
}

.admin-box.line > div a {
    margin-bottom: 10px;
}

.admin-box.line > div img {
    width: 50%;
    margin-top: 10px;
    border: solid 1px #ccc;
    border-radius: 3px;
}

.admin-box a.plus {
    background: #c31111;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer !important;
    font-size: 14px;
}

@media only screen and (max-width: 980px) {
    
    .admin-box.line {
        width: 80%;
        margin-left: 10%;
    }
    
    .loc-list button {
        width: 100%;
        padding: 10px 0;
    }
    
    .loc-list button + button {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .admin-box ul:nth-child(2) { display: none;}
    .admin-box ul:nth-child(3) li { display: block; }
    .admin-box ul:nth-child(3) li div { width: 100% !important; border: none; }
    .admin-box ul:nth-child(3) li div + div { border: none; border-top: solid 1px #ccc; }
    
    .admin-box ul.loc-list:nth-child(3) li div::before { font-size: 16px; border-radius: 3px; font-weight: 500; }
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(1),
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(2),
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(3),
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(4) { font-size: 14px; }
    
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(1)::before { content: "縣市 : " }
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(2)::before { content: "地區 : " }
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(3)::before { content: "地點 : " }
    .admin-box ul.loc-list:nth-child(3) li div:nth-child(4)::before { content: "地址 : " }
  
    .admin-box ul:nth-child(3) li:nth-child(1) {
        margin-top: 20px;
    }
    
    .admin-box ul:nth-child(3) li {
        margin: 10px 0;
        border-radius: 3px;
    }
    
    .admin-box a.plus {
        min-width: 33%;
        display: block;
        padding: 15px;
        float: left;
    }
    
    .admin-box .faq-list li div:nth-child(1) {
        padding: 20px 10px;
    }
    
    .admin-box.line > div button {
        min-width: 100%;
        padding: 10px;
    }
    
    article.admin-box.line h1 {
        font-size: 1.8em;
        margin-bottom: 40px;
    }
    
    .main .admin-box ul.change-btns {
        display: block;
    }
    
}