.admin-box .link-box {
    
}

.admin-box .link-box a {
    width: 48%;
    height: 200px;
    color: #fff;
    background: #ccc;
    float: left;
    margin: 1%;
    border-radius: 3px;
    padding: 20px;
}

.admin-box .link-box a .title {
    font-size: 1.5em;
    padding-bottom: 15px;
    border-bottom: solid 1px #fff;
}

.admin-box .link-box a p {
    line-height: 1.4em;
    font-size: 16px;
}

.admin-box .link-box a svg {
    margin-right: 10px;
}

.admin-box .link-box a.change-web-page {
    background-color: #8bc34a;
}

.admin-box .link-box a.change-loc {
    background-color: #02a0e9;
}
.admin-box .link-box a.change-faq {
    background-color: #ffc107;
}

.admin-box .link-box a.change-line {
    background-color: #2cb673;
}

@media only screen and (max-width: 980px) {
    .admin-box .link-box a {
        width: 100%;
    }
}