.admin-box ul:nth-child(2) li:nth-child(1) {
    width: 75%;
    float: left;
}

.admin-box ul:nth-child(2) li:nth-child(2) {
    width: 25%;
    float: left;
}

.admin-box ul:nth-child(3) li div:nth-child(1) {
    width: 75%;
}

.admin-box ul:nth-child(3) li div:nth-child(2){
    width: 25%;
}

.admin-box ul:nth-child(3) li div:nth-child(2) button {
    width: 45%;
}

.admin-box ul:nth-child(3) li div:nth-child(2) button svg {
    margin-right: 5px;
}

ul.nc-faq li.page-title {
    font-size: 2em;
    font-weight: bold;
}

ul.nc-faq li {
    width: 100%;
    float: left;
    border-bottom: solid 1px #ccc;
    margin-top: 20px;
    padding-bottom: 20px;
}

ul.nc-faq li div {
    float: left;
}

ul.nc-faq li div:nth-child(1) {
    width: 15%;
    border-right: solid 1px #ccc;
    padding: 5px 0;
    font-weight: bold;
}

ul.nc-faq li div:nth-child(2) {
    width: 85%;
    margin-left: -1px;
    padding-left: 20px;
}

ul.nc-faq li span {
    display: block;
    width: 100%;
    float: left;
    padding-left: 0;
    color: #e00000;
    font-weight: bold;
    display: none;
}

ul.nc-faq li div textarea {
    width: 100%;
    height: 180px;
    resize: none;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 3px;
}
ul.nc-faq li div textarea.error {
    border: solid 1px #d81111;
}

ul.nc-faq li div:nth-child(2) input {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}

ul.nc-faq li div:nth-child(2) input.error {
    border: solid 1px #d81111;
}

@media only screen and (max-width: 980px) {
    .admin-box ul:nth-child(3) li div:nth-child(2) button {
        width: 100%;
    }
    .admin-box ul:nth-child(3) li div:nth-child(2) button + button {
        margin-top: 5px;
    }
    .admin-box button {
        padding: 10px;
    }
}