* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "微軟正黑體","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body {
    margin: 0;
    background-color: #eaeaee;
    font-family: "微軟正黑體","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.1em;
    color: #333;
}

button { 
    font-family: "微軟正黑體","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif; 
}

button , a , .pop-up {
            transition: 0.25s ease;
         -o-transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
}

button {
    outline: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer {
    background: #333;
    color: #fff; 
    text-align: center;
    height: 70px;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    margin-top: -70px;
}
footer p {
    width: 100%;
    line-height: 1.8em;
    padding: 0 30px;
}

footer p span {
    display: block;
    width: 100%;
    float: left;
}

footer p span a {
    margin-left: 10px;
    color: #fff;
    text-decoration: underline;
}

footer p span a:hover {
    color: #c7ffb6;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

@media only screen and (max-width: 980px) {

    footer {
        height: 110px;
        margin-top: -110px;
    }
    
}

@media only screen and (max-width: 680px) {

    footer {
        height: 140px;
        margin-top: -140px;
        font-size: 14px;
    }
    
}