.main {
    padding-bottom: 70px;
}

.main > article {
    padding: 20px 6%;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

article .location-btn-group {
    margin-top: 10px;
}

article h1 {
    margin-bottom: 10px;
}

article .location-btn-group button {
    border: solid 1px #ccc;
    border-radius: 3px;
    background: #00a0e9;
    color: #fff;
    padding: 5px 20px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 1em;
}

article .location-btn-group button.disabled , article .location-btn-group button.disabled:hover {
    background: #ccc;
}

article .location-btn-group button.now , article .location-btn-group button.now:hover {
    background: #2cb673;
}

article .location-btn-group button:hover {
    background: #0f75bd;
}

.location-box {
    margin-top: 10px;
}

.location-box > div {
    border: solid 1px #ccc;
    border-radius: 3px;
    width: 100%;
    float: left;
}

.location-box > div + div {
    margin-top: 5px;
}

.location-box > div h4.region {
    width: 100%;
    width: 100%;
    color: #00a0e9;
    font-weight: 500;
}

.location-box > div > * {
    padding: 5px 15px;
    border-top: solid 1px #ccc;
}

.location-box > div > h4:nth-child(1) {
    border: none;
}

.location-box > div > div {
    width: 80%;
    float: left;
    border-left: solid 1px #ccc;
    margin-left: -1px;
}

.location-box > div > div.loc-img {
    width: 20%;
    border-right: solid 1px #ccc;
    padding: 10px;
    border-top: none;
}

.location-box > div > div.place {
    border-top: none;
}

.cityArray {
    display: none;
}
.place {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .location-box > div > div.loc-img {
        width: 33%;
        border-left: none;
    }
    
    .location-box > div > div {
        width: 67%;
        margin-left: -1px;
    }
    
    .loc-doc {
        min-width: 100%;
    }
    
    article .location-btn-group button {
        width: 31%;
    }
}