.main {
    background-color: #fff;
}
.main > article {
    width: 100%;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.main > article img {
    max-width: 800px;
}