.main {
    background: #eaeaee;
}

.main > article {
    max-width: 800px;
    margin: 40px auto;
    float: initial;
    border-radius: 3px;
}

.main > article h1 {
    display: flex;
    margin-left: -1em;
}

.main > article h1 svg {
    font-size: 1.5em;
}

.main > article ul {
    
}

.main > article ul li {
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
}

.main > article ul li a {
    color: #03a0e9;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 0 0 3px #ccc;
}

.answer {
    font-size: .9em;
    color: #555;
    margin-bottom: 15px;
    text-indent: -1.6em;
    margin-left: 1.8em;
    white-space: pre-wrap;
}

.answer span {
    display: block;
    margin-bottom: 5px;
    text-indent: -1.3em;
}

.bold {
    font-weight: bold;
    color: #757575;
}

@media only screen and (max-width: 980px) {
    
    .main > article h1 {
         margin-left: 0; 
    }
    
    .main > article {
        width: 90%;
    }
}

@media only screen and (max-width: 860px) {
    body , .main {
        background-color: #fff;
    }
}

@media only screen and (max-width: 680px) {
    
    .main > article h1 {
         margin-left: 0; 
    }
    
    .main > article {
        width: 100%;
        margin: 0;
    }
}