header {
    width: 100%;
    position: fixed;
    height: 60px;
    background: #00a0e9;
    border-bottom: solid 1px #ccc;
    z-index: 15;
}
header > a {
    float: left;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
    font-weight: bolder;
    padding: 0 20px;
    height: 100%;
    background: #fff;
    position: relative;
}

header > a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 29.5px solid transparent;
    border-left-color: #fff;
    position: absolute;
    right: -59px;
    top: 0;
}

header > a::before {
    
}

header > a img {
    width: 50px;
    margin-right: 10px;
}

header > nav {
    height: 100%; 
    display: flex;
    align-items: center;
    float: right;
    margin-right: 20px;
}

header > nav a + a {
    border-left: solid 1px #fff;
}

header > nav a {
    padding-left: 20px;
    margin-left: 20px;
    border: none;
    color: #fff;
}

header > nav a:hover {
    color: #c7ffb6;
}

header > nav a svg {
    margin-right: 10px;
}

.hamburger{
    display:none;
}

@media only screen and (max-width: 1024px) {
    
    .hamburger {
        position: absolute;
        right: 30px;
        font-size: 2em;
        color: #fff;
        top: 12px;
        display: block;
    }
    
    .hamburger:hover {
        color: #c7ffb6;    
    }
    
    header > nav {
        display: block;
        align-items: center;
        float: left;
        margin-right: 0;
        background: #02a0e9;
        width: 100%;
        height: auto;
        padding-bottom: 50px;
        overflow: hidden;
        border-top: solid 1px #fff;
        display: none;
        box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.16);
    }
    
    header > nav a {
        padding-left: 20px;
        margin-left: 20px;
        border: none;
        width: 100%;
        color: #fff;
        float: left;
        padding: 20px;
        border-bottom: solid 1px #fff;
    }
    
    header > nav a + a {
        border-left:none;
    }
    
}

@media only screen and (max-width: 600px) {
    header > a {
        font-size: 1em;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 400px) {
    header > a {
        font-size: 13px;
    }
}