.banner {
    width: 100%;
    background: #0375b3;
    padding: 1px 0;
    text-align: center;
}

.banner img {
    width: 80%;
}

.banner video {
    width: 50%;
    margin: 0 25%;
}

div.main {
    padding-bottom: 70px;
}

div.main > article {
    padding: 40px 0;
    width: 100%;
    margin: 0;
}

.main > article:nth-child(even) {
    padding-left: 8%;
}

.main > article:nth-child(odd) {
    padding-left: 8%;
    padding-top: 0;
}

.main > article h3 {
    font-size: 1.5em;
    width: 100%;
    float: right;
    color: #fff;
    padding: 0 3%;
    position: relative;
    font-weight: 300;
    font-weight: bold;
    height: 57px;
    display: flex;
    align-items: center;
}

.main > article:nth-child(even) h3 {
    background: #2cb673;
    float: right;
}

.main > article:nth-child(even) h3::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 28.5px solid transparent;
    border-right-color: #2cb673;
    position: absolute;
    top: 0;
    left: -57px;
}


.main > article:nth-child(odd) h3 {
    background: #00a0e9;
    float: left;
    padding-right: 8%;
}

.main > article:nth-child(odd) h3::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 28.5px solid transparent;
    border-right-color: #00a0e9;
    position: absolute;
    top: 0;
    left: -57px;
}

.main > article > div {
    padding-right: 8%;
    overflow: hidden;
}

.main > article:nth-child(odd) > div {
/*
    padding-left:11%;
    padding-right: 0;
*/
    
    padding-left: 3%;
    padding-right: 8%;
    
}

.main > article > div > div {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.main > article > div > div:nth-child(1) {
    margin-bottom: 0;
}

.main > article > div img {
    width: 40%;
    margin-right: 7%;
    margin-left: 3%;
    float: left;
    border-radius: 3px;
}

.main > article > div ul {
    width: 100%;
}
.main > article > div ul li {
    width: 100%;
    float: left;
}

.main > article > div ul li p {
    width: 100%;
}

.main > article:nth-child(3) > div ul li p {
    text-indent: -1.2em;
    margin-left: 1.2em;
}

.main > article:nth-child(odd) > div img {
    margin-right: 3%;
    margin-left: 7%;
}

.main > article > div p {
    width: 50%;
    float: left;
    font-size: 1.1em;
    line-height: 2em;
}

.main > article > div h2 {
    font-size: 2em;
    display: block;
    line-height: 1em;
    margin-bottom: 10px;
    color: #2cb673;
}

.main > article:nth-child(odd) > div h2 {
    color: #02a0e9;
}

body .main .article-2 img {
    width: 60%;
}

@media only screen and (max-width: 980px) {
    
    .banner video {
        width: 84%;
        margin: 0 8%;
    }
    
    .main > article > div > div {
        float: left;
        display: block;
    }
    
    .main > article > div img {
        width: 100%;
        margin: 0 0 40px 0;
        
    }
    
    .main > article:nth-child(odd) > div {
        margin: 0;
        width: 100%;
    }
    
    .main > article:nth-child(odd) > div img {
        width: 100%;
        margin: 0;
    }
    
}