article {
    min-height: 46vh;
}

article h1 { 
 text-align: center;
    width: 100%;
}

article div ul {
    text-align: center;
}

article div ul li {
    margin-bottom: 10px;
}

article div ul li input {
    width: 300px;
    border: solid 1px #ccc;
    padding: 5px 10px;
    border-radius: 3px;
}

article div ul li button {
    border: none;
    width: 300px;
    background: #02a0e9;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

ul.inquire-box li:nth-child(1) {
    font-weight: bold;
    font-size: 1.2em;
}

ul.inquire-box li + li {
/*    border: solid 1px #ccc;*/
    width: 60%;
    margin: auto;
    position: relative;
    margin-bottom: 15px;
    border-radius: 3px;
    border-bottom: solid 5px #ccc;
}

ul.inquire-box li > div {
    text-align: left;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    padding-left: 95px;
    position: relative;
    min-height: 46px;
}

ul.inquire-box li > div:before {
    position: absolute;
    left: 0px;
    top: 0;
    width: 95px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 2.9em;
    height: 100%;
    font-weight: 500;
    color: #555;
    font-size: .96em;
}

ul.inquire-box li > div:nth-child(1):before {
    content: "上傳時間 :";
}

ul.inquire-box li > div:nth-child(2):before {
    content: "檔案名稱 :";
}

ul.inquire-box li > div:nth-child(3):before {
    content: "上傳備註 :";
}