.main {
    padding-top: 60px;
    min-height: 100vh;
    padding-bottom: 100px;
    width: 100%;
    float: left;
    background: #eaeaee;
}

.main > article {
    float: left;
    background: #fff;
    padding: 40px 6%;
    overflow: hidden;
    width: 80%;
    position: relative;
    margin: 40px 10%;
    border-radius: 3px;
}

article h1 {
    font-size: 2em;
    color: #2cb673;
    margin-bottom: 40px;
}

article h1 svg {
    margin-right: 10px;
}

article p {
    font-size: 1em;
    line-height: 2em;
    white-space: pre-line;
}

@media only screen and (max-width: 980px) {
    
    .main {
        padding-bottom: 110px !important;
    }
    
}

@media only screen and (max-width: 860px) {
    
    body , .main {
        background-color: #fff;
    }
    
}
@media only screen and (max-width: 680px) {
    body .main {
        padding-bottom: 140px !important;
    } 
    .main > article {
        width: 100%;
        margin: 0;
    }
}