
.pop-up {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: auto;
    display: none;
}

.pop-up.open {
    height: 100vh;
}

.pop-up > div {
    width: 700px;
    margin: 90px auto;
    background: #fff;
    border-radius: 3px;
    padding: 80px 100px;
    text-align: center;
    position: relative;
}

.pop-up > div > span {
    font-size: 2em;
    color: #2cb673;
    display: block;
}

.pop-up > div > button.close {
    background: #0f75bd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.pop-up > div > button.close::before , .pop-up > div > button.close::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 54%;
    top: 50%;
    left: 23%;
    margin-top: -1px;
    background: #fff;
}

.pop-up > div > button.close::before { 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.pop-up > div > button.close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.pop-up > div ul {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pop-up > div ul + ul {
    border: none;
    display: none;
}

.pop-up > div ul + ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    width: 80%;
    margin: 10px 10% 0 10%;
    background: #565656;
    color: #fff;
    border-radius: 3px;
    padding: 6px;
}

.pop-up > div ul + ul li + li {
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    text-align: left;
    background: #fff;
    color: #333;
    word-break: break-all;
}

.pop-up > div ul li {
    margin: 0 10%;
    width: 80%;
}

.pop-up > div ul li input {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}

.pop-up > div ul li button {
    width: 49%;
    padding: 10px 0;
    margin-top: 50px;
    border: solid 1px #ccc;
    border-radius: 3px;
    color: #fff;
}
.pop-up > div ul li button.yes {
    background: #02a0e9;
}
.pop-up > div ul li button.no {
    background: #535353;
}
.pop-up > div {
    max-width: 700px;
    margin: 90px auto;
    background: #fff;
    border-radius: 3px;
    padding: 80px 100px;
    text-align: center;
    position: relative;
    width: 80%;
}

.progress {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px #50c7ff;
    height: auto;
    margin-top: 30px;
    border-radius: 3px;
    padding: 0 1px;
    display: none;
    background: #0082bf;
    box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.52) inset;
}
.progress > div {
    display: none;
    background-image: url(../images/loadbar.svg);
    background-size: cover;
    background: #04a0e9;
    border-right: solid 1px #a4e2ff;
    border-radius: 0 3px 3px 0;
    box-shadow: 0px -4px 9px 1px rgba(207, 240, 255, 0.7) inset;
    white-space: nowrap;
}

.progress > div span {
    margin: 1px;
    padding: 3px 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: 0 0px 2px #0076ad;
    box-shadow: -2px 1px 1px 0 #77d4ff inset;
}

@media only screen and (max-width: 980px) {
    .pop-up > div {
        padding: 80px 40px;
    }
    .pop-up > div ul li button {
        width: 100%;
    }
    .admin-box ul:nth-child(3) li {
        align-items: initial;
    }
}