.main {
    padding-bottom: 70px;
}

.main > article {
    margin: 0;
    width: 100%;
}

.main > article h1 {
    width: 100%;
    text-align: left;
    padding-left: 42%;
    margin-bottom: 20px;
}

.main > article ul {
    float: left;
    margin-bottom: 40px;
}

ul.step-box {
    width: 100%;
}

.left {
    width: 40%;
    float: left;
    margin-top: -90px;
    left: 0;
    top: 0;
}

.right {
    width: 60%;
    float: right;
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 2%;
}

.newFile {
    display: none;
}

ul.step-box li {
    width: 100%;
    float: left;
    padding-top: 20px;
}

ul.step-box li span {
    font-size: 2em;
    color: #0f75bd;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

ul.step-box li span svg {
    font-size: 2em;
    margin-right: 20px;
}

ul.step-box li p {
    padding: 0 60px;
    font-size: .9em;
    white-space: inherit;
}

.main > article ul.upload-list {
    width: 100%;
    margin: 0 auto 40px auto;
    float: initial;
    overflow: hidden;
    border: solid 1px #ccc;
    border-radius: 3px;
    display: none;
}

.data-list {
    float: left;
    width: 100%;
    display: flex;
    margin-top: -1px;
}

.data-list div:nth-child(3)::after {
    content: "輸出費用以現場機器為準。";
    color: #f10;
    font-size: 14px;
    width: 100%;
    display: block;
    
}

.step-3 {
    display: none;
}

ul.upload-step.step-1 {
    overflow: hidden;
}

.user {
    background: #03a0e9;
    color: #fff;
    padding: 10px;
}
.loc {
    padding: 5px 10px;
    float: left;
    width: 100%;
}

.main > article ul.upload-list li + li > div > div {
    width: 33.333%;
    float: left;
    padding: 5px 10px;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    font-size: 1em;
    word-break: break-all;
}

.main > article ul.upload-list li + li > div > div:nth-child(2) {
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.main > article ul.upload-step {
    width: 100%;
    margin: 0 auto 40px auto;
    float: initial;
}

.main > article ul.upload-step li {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.main > article ul.upload-step li a {
    color: #03a0e9;
    margin-top: 10px;
    float: left;
}

.main > article ul.upload-step li a:hover {
    color: #0f75bd;
}

.main > article ul.upload-step li svg {
    position: absolute;
    right: 10px;
    font-size: 1em;
    transform: translate(0%, -50%);
    color: #666;
    top: 50%;
}

.main > article ul.upload-step li span {
    font-size: 1.3em;
    font-weight: 500;
    display: block;
}

.main > article ul.upload-step li input {
    padding: 5px 10px;
    border: solid 1px #ccc;
    width: 100%;
    border-radius: 3px;
    padding-right: 51px;
}

.main > article ul.upload-step li.enter-size div {
    width: 49%;
    float: left;
    position: relative;
}

.main > article ul.upload-step li.enter-size > div + div {
    margin-left: 2%;
}

.main > article ul.upload-step li.enter-size > div > div {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    line-height: 1em;
    height: 100%;
    border-radius: 0 3px 3px 0;
    padding: 6px 10px;
    border-left: solid 1px #ccc;
} 

select {
    border: solid 1px #ccc;
    width: 100%;
    border-radius: 3px;
    padding: 5px 10px;
            appearance:none;
       -moz-appearance:none;
    -webkit-appearance:none;
    background: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 1;
    font-family: "微軟正黑體";
}

.main > article ul.upload-step li > button {
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #03a0e9;
    color: #fff;
    margin-top: 20px;
    padding: 5px;
    padding: 5px;
/*
    padding: 10px;
    border: solid 1px #cccccc;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.81) inset;
*/
}

.main > article ul.upload-step li > button + button {
    background: #ccc;
    cursor: unset;
}
.main > article ul.upload-step li textarea {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #ccc;
    height: 80px;
    padding: 7px 10px;
    resize: none;
}

.main > article ul.upload-step.step-3 li {
    text-align: center;
}

.main > article ul.upload-step.step-3 li div {
    margin-bottom: 10px;
}

.inquiry-file {
    position: absolute;
    top: 100px;
    right: 20px;
}

.inquiry-file button {
    background: #03a0e9;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
}

.send-btn , .enter-size {
    display: none;
}

.pop-up {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: auto;
}

.pop-up.open {
    height: 100vh;
}

.pop-up > div {
    width: 80%;
    max-width: 700px;
    min-height: 50vh;
    margin: 90px auto;
    background: #fff;
    border-radius: 3px;
    padding: 80px 100px;
    text-align: center;
    position: relative;
}

.pop-up > div > span {
    font-size: 2em;
    color: #2cb673;
    display: block;
}

.pop-up > div > button.close {
    background: #0f75bd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.pop-up > div > button.close::before , .pop-up > div > button.close::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 54%;
    top: 50%;
    left: 23%;
    margin-top: -1px;
    background: #fff;
}

.pop-up > div > button.close::before { 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fulfil {
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.fulfil li {
    margin-bottom: 20px;
    
}

.fulfil li svg {
    font-size: 10em;
    color: #2cb673;
}

.pop-up > div > button.close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.pop-up > div ul {
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pop-up > div ul + ul {
    border: none;
    display: none;
}

.pop-up > div ul + ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    width: 80%;
    margin: 10px 10% 0 10%;
    background: #565656;
    color: #fff;
    border-radius: 3px;
    padding: 6px;
}

.pop-up > div ul + ul li + li {
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    text-align: left;
    background: #fff;
    color: #333;
    word-break: break-all;
}

.pop-up > div ul li {
    margin: 0 10%;
    margin-bottom: 10px;
    width: 80%;
}

.pop-up > div ul li:nth-child(1) {
    margin-bottom: 10px;
}

.pop-up > div ul li input {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}

.pop-up > div ul li button {
    background: #03a0e9;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
    width: 100%;
}

ul.fulfil li a {
    background: #02a0e9;
    color: #fff;
    padding: 5px 20px;
    border-radius: 3px;
}

.progress {
    width: 100%;
    border: solid 1px #50c7ff;
    height: 22px;
    margin-top: 2px;
    border-radius: 3px;
    padding: 1px;
    display: none;
    background: #0082bf;
    box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.52) inset;
}
#progress {
    background-image: url(../images/loadbar.svg);
    background-size: cover;
    background: #04a0e9;
    border-right: solid 1px #a4e2ff;
    border-radius: 0 3px 3px 0;
    box-shadow: 0px -4px 9px 1px rgba(207, 240, 255, 0.7) inset;
}

.main > article ul.upload-step li .progress #progress span {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: 0 0px 2px #0076ad;
    box-shadow: -2px 1px 1px 0 #77d4ff inset;
}


.file-size-error , .up-img-ready , .up-img-fulfil , .disconnection {
    width: 100%;
    margin-top: 5px;
    color: #d00000;
    font-weight: bold;
    display: none;
    font-size: .9em;
}

div.up-city {
    width: 29%;
    float: left;
    margin-right: 1%;
    position: relative;
}

div.up-loc {
/*    width: 70%;*/
    width: 100%;
    float: left;
    position: relative;
}

@-webkit-keyframes loadbar {
    0%{
         
        background: #0076ad;
     
    }
    50%{
        background: #2cb673;
    }
    100%{
        -webkit-transform: rotate(360deg);
        background:white;
       border:5px solid red;
    }
 
 
}

@media only screen and (max-width: 980px) {
    
    .main {
        padding-bottom: 110px;
    }

    
    .main > article h1 {
        width: 100%;
        margin-top: 50px;
        padding: 0 5%;
        margin: 0;
        margin-bottom: 110px;
    }
    
    .left {
        width: 100%;
        text-align: center;
        float: left;
    }
    
    ul.step-box li {
        width: 100%;
        float: left;
        padding: 20px 0 0 0;
    }
    
    .right {
        width: 100%;
        float: right;
        margin-top: 20px;
        padding: 0 5%;
    }
    
    .pop-up > div {
        padding: 80px 30px;
    }
    
    ul.step-box li span {
        padding: 0 5%;
    }
    
    ul.step-box li span svg {
        font-size: 1em;
    }
    
    ul.step-box li p {
        padding: 0 5%;
        text-align: left;
    }
    div.up-city {
        width: 100%;
        margin-bottom: 10px;
    }
    
    div.up-loc {
        width: 100%;
    }
    
    .fulfil li svg {
        font-size: 6em;
    }
}