<a href="index.html">
    <img src="images/logo.png" alt="">
    速快輸出
</a>
<nav>
    <a href="upload-files.html"><i class="fas fa-cloud-upload-alt"></i>線上傳檔</a>
    <a href="equipment-location.html"><i class="fas fa-map-marker-alt"></i>設備據點</a>
    <a href="about-sky-fp.html"><i class="fas fa-at"></i>關於速快</a>
    <a href="faq.html"><i class="far fa-question-circle"></i>FAQ</a>
    <a href="campus-area.html"><i class="fab fa-font-awesome-alt"></i>校園專區</a>
    <a href="inquire-file.html"><i class="fas fa-search"></i>資料查詢</a>
</nav>
<div class="hamburger">
    <i class="fas fa-bars"></i>
</div>