<article style="min-height:83vh;">
    <h1><i class="fas fa-cloud-upload-alt"></i>線上傳檔</h1>
    <ul class="fulfil">
        <li><i class="far fa-check-circle"></i></li>
        <li>訂單已成立，請至取件地點進行付費及輸出</li>
        <li></li>
        <li><a href="upload-files.html">返回線上傳檔</a></li>
    </ul>
</article>