<a href="/admin">
    <img src="/images/logo.png" alt="">
    速快輸出-後台系統
</a>
<nav>
    <a href="/admin/template/admin-edit-web-page.html"><i class="fas fa-cogs"></i>前台版面管理</a>
    <a href="/admin/template/location.html"><i class="fas fa-pen-square"></i>新增修改據點</a>
    <a href="/admin/template/faq.html"><i class="far fa-question-circle"></i>新增修改FAQ</a>
    <a href="/admin/template/line-notify.html"><i class="fab fa-line"></i>Line Notify</a>
</nav>


<div class="hamburger">
    <i class="fas fa-bars"></i>
</div>